extends layout

block content
  .page-header
    |     
    link(rel='stylesheet', type='text/css', media='screen', href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.min.css')
    link(rel='stylesheet', type='text/css', media='screen', href='https://cdnjs.cloudflare.com/ajax/libs/qtip2/3.0.3/jquery.qtip.min.css')
    |     
    link(rel='stylesheet', type='text/css', media='screen', href='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/ui-lightness/jquery-ui.css')
    |  
    script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js')
    |     
    script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js')
    |     
    script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.5/js/bootstrap.js')
    |     
    script(type='text/javascript', src='http://tarruda.github.com/bootstrap-datetimepicker/assets/js/bootstrap-datetimepicker.min.js')
    |  
    script(type="text/javascript", src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.2/moment.min.js")
    |  
    script(type='text/javascript', src="http://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.0.1/fullcalendar.min.js")
    |  
    script(type='text/javascript', src="https://cdnjs.cloudflare.com/ajax/libs/qtip2/3.0.3/jquery.qtip.min.js")
    |  
    script(type='text/javascript', src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js")

  body
    h2 Schedule a shuttle, or click the calendar.
    br
    br

    form(method='POST', id='request')
      input(type='hidden', name='_csrf', id='_csrf', value=_csrf)
      |     
      .form-group
        label(calss='col-sm-3 control-label', for='date') Date
        |       
        #datepicker.input-append.date
          input(type='text', name='date', id='date', placeholder='date', required)
          |         
          span.add-on
            i(data-time-icon='icon-time', data-date-icon='icon-calendar')
      |       
      .form-group
        label(calss='col-sm-3 control-label', for='time') Time
        |       
        #timepicker.input-append.date
          input(type='text', name='time', id='time', placeholder='time', required)
          |         
          span.add-on
            i(data-time-icon='icon-time', data-date-icon='icon-calendar')
      |       
      .form-group
        label(class='col-sm-3 control-label', for='dept') Where are you coming from?
        |       
        select(name = "dept" id="dept")
          option(value="muller") Muller
          option(value="rotunda") Rotunda
          option(value="stief") Steif
      |       
      .form-group
        label(class='col-sm-3 control-label', for='arriv') Where are you going to?
        |       
        select(name = "ariv" id="ariv")
          option(value="rotunda") Rotunda
          option(value="muller") Muller
          option(value="stief") Steif
      |       
      .form-group
        .col-sm-offset-2.col-sm-8
          button.btn.btn-primary(type='submit')
            | Submit
    |       
    .right
      span#loading loading...
      | &#x9;&#x9;&#x9;
      span#script-warning
        code shuttles
        |  must be running.

      

    script(type='text/javascript').
      $.fn.datetimepicker.defaults = {
        maskInput: true,           // disables the text input mask
        pickDate: true,            // disables the date picker
        pickTime: true,            // disables de time picker
        pick12HourFormat: true,    // enables the 12-hour format time picker
        pickSeconds: false,        // disables seconds in the time picker
        startDate: -Infinity,      // set a minimum date
        endDate: Infinity          // set a maximum date
      };

    script(type='text/javascript').
      $('#datepicker').datetimepicker({
        pickTime: false,
        format: 'MM/dd/yyyy',
        language: 'pt-BR'
      });

    script(type='text/javascript').
      $('#timepicker').datetimepicker({
        pickDate: false,
        format: 'hh:mm',
        useUtc : true,
        language: 'pt-BR'
      });

    #calendar
    script.
      var tooltip = $('<div/>').qtip({
          id: 'fullcalendar',
          prerender: true,
              content: {
              text: ' ',
              title: {
                  button: true
              }
          },
          position: {
              my: 'bottom center',
              at: 'top center',
              target: 'mouse',
              viewport: $('#fullcalendar'),
              adjust: {
                  mouse: false,
                  scroll: false
              }
          },
          show: false,
          hide: false,
          style: 'qtip-light'
      }).qtip('api');

      $('#calendar').fullCalendar({
        header: {
        	left: 'prev,next today',
        	center: 'title',
        	right: 'month,agendaWeek,agendaDay,listWeek'
        },
        defaultDate: moment.utc().format(), //'2016-10-12',
        defaultView: 'agendaWeek',
        navLinks: true, // can click day/week names to navigate views
        editable: false,  // allow manipulating events on the GUI
        eventLimit: true, // allow "more" link when too many events
        weekends: false,  // dont show weekends
        ignoreTimezone: false,
        //timezone: true,  // try to get timezones working
        dropable: true,
        eventSources: [  // use a restful api, it looks for start and end
            "http://localhost:3000/ReadRange?"
        ],
        selectable: true, // allow clicking to add events
        selectHelper: true, // round to nearest 'nice' time
        eventClick: function(data, event, view) {
            console.log(data);
            var locations = data.title.split(' ')
            var dept = locations[0];
            var ariv = locations[1];
            var start = moment(data.start).format('HH:mm');
            var end = moment(data.end).format('HH:mm');
            var request = moment(data.requestedDate).format()
            var content = '<h3>'+data.title+'</h3>' + 
                '<h4><b>Departs: </b> '+dept+' at: '+start+'</h4><br />' + 
                '<h4><b>Arrive:</b> '+ariv+' at: '+end+'</h4><br />' +
                '<p><b>Requested on:</b> '+request+'<br /p>';
            
            tooltip.set({
                'content.text': content
            })
            .reposition(event).show(event);
        },
        loading: function(bool) {
            $('#loading').toggle(bool);
        },
        select: function(start, end, allday) {
            
            console.log(start.format("HH:mm"));
            console.log(start.utc().format());
            var _csrf = $("#_csrf").val()

            var content = '<h3> New event:</h3>' +
                '<h4>' + start.format("MM/DD/YYYY") + '</h4> <br />' +
                '<h4>' + start.format("HH:mm") + '</h4> <br />'+
                '<form method="GET" action="/calendarRest">' +
                '<input type="hidden" name="_csrf" value="' + _csrf + '"> <br />' +
                '<input type="hidden" name="start" value='+start.utc().format()+'>'+
                ' Departure: <br />' +
                '<select value="departure" name="dept"> '+
                ' <option value="muller">Muller</option>' +
                ' <option value="rotunda">Rotunda</option>' +
                ' <option value="stief">Stief</option>' +
                '</select> <br />' +
                'Arrival: <br />' +
                '<select value=arrival name="ariv"> '+
                ' <option value="muller">Muller</option>' +
                ' <option value="rotunda">Rotunda</option>' +
                ' <option value="stief">Stief</option>' +
                '</select> <br />' +
                '<input type="submit" value="Submit">' +
                '</form>';
            tooltip.set({
                'content.text': content
                
            }).reposition(event).show(event);

        }
        
      });
      $('#calendar').fullCalendar('option', 'timezone', 'America/New_York');
      console.log("Calendar date: " + $('#calendar').fullCalendar('getDate').toDate());

        
    br
    br
    br


