extends layout

block content
  .page-header
    link(href='http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-combined.min.css', rel='stylesheet')
    |     
    link(rel='stylesheet', type='text/css', media='screen', href='http://tarruda.github.com/bootstrap-datetimepicker/assets/css/bootstrap-datetimepicker.min.css')
    |     
    script(type='text/javascript', src='http://cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js')
    |  
    |     
    script(type='text/javascript', src='http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/js/bootstrap.min.js')
    |     
    script(type='text/javascript', src='http://tarruda.github.com/bootstrap-datetimepicker/assets/js/bootstrap-datetimepicker.min.js')
    script(type="text/javascript", src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.2/moment.min.js")
    script(type='text/javascript', src="http://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.0.1/fullcalendar.min.js")

  | 

  body
    h2 Schedule a shuttle, or click the calendar.
    form(method='POST')
      input(type='hidden', name='_csrf', value=_csrf)
      |     
      .form-group
        label(calss='col-sm-3 control-label', for='date') Date
        |       
        #datepicker.input-append.date
          input(type='text', name='date', id='date', placeholder='date', required)
          |         
          span.add-on
            i(data-time-icon='icon-time', data-date-icon='icon-calendar')
      |       
      .form-group
        label(calss='col-sm-3 control-label', for='time') Time
        |       
        #timepicker.input-append.date
          input(type='text', name='time', id='time', placeholder='time', required)
          |         
          span.add-on
            i(data-time-icon='icon-time', data-date-icon='icon-calendar')
      |       
      .form-group
        label(class='col-sm-3 control-label', for='dept') Where are you coming from?
        |       
        select(name = "dept" id="dept")
          option(value="muller") Muller
          option(value="rotunda") Rotunda
          option(value="steif") Steif
      |       
      .form-group
        label(class='col-sm-3 control-label', for='arriv') Where are you going to?
        |       
        select(name = "ariv" id="ariv")
          option(value="muller") Muller
          option(value="rotunda") Rotunda
          option(value="steif") Steif
      |       
      .form-group
        .col-sm-offset-2.col-sm-8
          button.btn.btn-primary(type='submit')
            | Submit
    |       

    .right
      span#loading loading...
      | &#x9;&#x9;&#x9;
      span#script-warning
        code shuttles
        |  must be running.

    script(type='text/javascript').
      $.fn.datetimepicker.defaults = {
        maskInput: true,           // disables the text input mask
        pickDate: true,            // disables the date picker
        pickTime: true,            // disables de time picker
        pick12HourFormat: true,    // enables the 12-hour format time picker
        pickSeconds: false,        // disables seconds in the time picker
        startDate: -Infinity,      // set a minimum date
        endDate: Infinity          // set a maximum date
      };

    script(type='text/javascript').
      $('#datepicker').datetimepicker({
        pickTime: false,
        format: 'MM/dd/yyyy',
        language: 'pt-BR'
      });

    script(type='text/javascript').
      $('#timepicker').datetimepicker({
        pickDate: false,
        format: 'hh:mm',
        language: 'pt-BR'
      });

    #calendar
    script.
      $('#calendar').fullCalendar({
        header: {
        	left: 'prev,next today',
        	center: 'title',
        	right: 'month,agendaWeek,agendaDay,listWeek'
        },
        defaultDate: moment.utc().format(), //'2016-10-12',
        defaultView: 'agendaWeek',
        navLinks: true, // can click day/week names to navigate views
        editable: false,
        eventLimit: true, // allow "more" link when too many events
        weekends: false,
        timezone: true,
        eventSources: [  // use a restful api for this, it looks for start and end
            "http://localhost:3000/ReadRange?"
        ],
        eventClick: function(calEvent, jsEvent, view){
            alert("an event has been clicked!");
        },
        selectable: true, // allow clicking to add events
        selectHelper: true,
        eventRender: function(event, el) {
            // render the timezone offset below the event title
            if (event.start.hasZone()) {
                console.log('timezone');
                el.find('.fc-title').after(
                    $('<div class="tzo"/>').text(event.start.format('Z'))
                );
            }
        },
        loading: function(bool) {
            $('#loading').toggle(bool);
        }
        
      });
      $('#calendar').fullCalendar('option', 'timezone', 'America/New_York');
      console.log("Calendar date: " + $('#calendar').fullCalendar('getDate').toDate());

        


  //
    h3 Listing Shuttles:
     
    #calendar.fullCalendar({events: test})
    ul
      for shuttle in test
        li= shuttle.rider, shuttle.shuttleDept,  shuttle.shuttleAriv
  //  
    script.
        for(i=0; i<$("#test").length; i++){
            shuttle = $("#test")[i];
            console.log(shuttle);
            var title = shuttle.shuttleDept + " to " + shuttle.shuttle.ariv;
            console.log(title);

    // #calendar'.fullCalendar('renderEvent', json[i], true);


